<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basement::setContent(~{this::content})}">
	<th:block th:fragment="content">

		<section class="py-5">
			<div class="container px-4 px-lg-5 mt-5">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


					<!--상품 -->
					<div class="col mb-5" th:each="dto : ${result.dtoList}">
						<div class="card h-100" th:onclick="|location.href='@{/product/read(pnum=${dto.pnum})}'|">
							<!-- Product image  " style="width:205px; height:150px;" -->
							<img class="card-img-top" th:src= "@{/images/}+${dto.thumb}" alt="..." style=" height:160px;" /> <!-- /image/1.jpg -->
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">[[${dto.name}]]</h5>
									<!-- Product reviews-->
									<div class="d-flex justify-content-center small text-warning mb-2">
										<!--
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            -->
									</div>
									<!-- Product price-->
									[[${dto.price}]]원
								</div>
								<div class="text-center">
								</div>
							</div>
							<!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                            -->
						</div>
					</div>



					<!-- 섹션 끝-->

				</div>
			</div>
		</section>

		<script>
			var searchForm = $("#searchform");

			$('.btn-search').click(function() {
				searchForm.submit();
			});

			$('.btn-clear').click(function() {
				searchForm.empty().submit();
			});
		</script>
	</th:block>
</th:block>
</html>