
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basement::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<!-- Product section-->
		<section class="py-5">
			<div class="container px-4 px-lg-5 my-5">
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{/images/}+${dto.thumb}" alt="..." /></div>
					<div class="col-md-6">
						<div class="small mb-2">  </div>
						<div class="small mb-2">  </div>
						<div class="small mb-1">  </div>
						<h3 class="display-5 fw-bolder" th:text="@{#.}+${dto.pnum}">Shop item template</h3>
						<h1 class="display-1 fw-bolder">[[${dto.name}]]</h1>

						<p class="lead">[[${dto.detail}]]</p>


						<div class="fs-5 mb-5">
							<!--							<span class="text-decoration-line-through">$45.00</span>-->
							<!--							<span th:text="@{\\}+${dto.price}">$40.00</span>-->
							<h4 th:text="@{가 격 : }+${dto.price}+@{원}" style="margin-top: 2rem; margin-right: 3rem; margin-left:0;" ></h4>
							<h4 th:text="@{작성자 : }+${dto.nickname}"></h4>
							<h4 th:text="@{거래지역 : }+${mdto.addr}"></h4>
						</div>

					</div>

				</div>
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="container px-4 px-lg-5 my-5">
						<div  style="margin-left: 1rem">
							<a href="/main" class="col-md-6">
								<input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn "
									   style="background-color: darkgray; color:white; width: 100%; margin-top: 5rem;" value="목록보기" />
							</a>

							<a th:href="@{/product/buy(pnum=${dto.pnum})}" class="col-md-6">
								<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn "
										style="background-color: blueviolet; color:white; width: 100%;  margin-top: 5rem;">구매하기</button>
							</a>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section class="py-5">

		</section>


		<!--		<div class="form-group">-->
		<!--			<label>작성 시간</label>-->
		<!--			<input type="text" class="form-control" name="regDate"-->
		<!--				   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:SS')}" readOnly />-->
		<!--		</div>-->
		<!--		<div class="form-group" hidden="hidden">-->
		<!--			<label>수정 시간</label>-->
		<!--			<input type="text" class="form-control" name="modDate"-->
		<!--				   th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:SS')}" readOnly />-->
		<!--		</div>-->

		<script>
			$(".btn-warning").click(function() {
				if(!confirm("구매하시겠습니까?")) {
					return;
				}

				var request = new XMLHttpRequest();
				var url = "/product/buy";
				var params = 'pnum=' + document.getElementById('pnum').value;

				request.open('POST', url, true);
				request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				request.send(params);

				//request.addEventListener('load', () => {
				//	alert("삭제 완료");
				//	location.href='/memo/list';
				//});
			});

			$(".btn-danger").click(function() {
				if(!confirm("정말로 삭제하시겠습니까?")) {
					return;
				}

				var request = new XMLHttpRequest();
				var url = "/memo/remove";
				var params = 'pnum=' + document.getElementById('pnum').value;

				request.open('POST', url, true);
				request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				request.send(params);

				request.addEventListener('load', () => {
					alert("삭제 완료");
					location.href='/memo/list';
				});
			});
			//이미지 사이즈 조정

			
			</script>
			</th:block>
			