<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basement::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<section class="py-5">
			<div class="container px-4 px-lg-5 my-5">

				<div class="row gx-4 gx-lg-5 align-items-center" >


					<div class="col-md-6"><img border="1" width="500" height="600" class="card-img-top mb-5 mb-md-0" id="img" src="https://dummyimage.com/600x600/dee2e6/6c757d.jpg" alt="..." /></div>
					<div class="col-md-6">
						<!-- Floating Multiline Textfield -->
						<form action="/product/register"
							  name="registerForm" method="post" enctype="multipart/form-data"
							  id="form" th:onsubmit="return check()">

							<div class="mb-3">
								<label class="file-label display-6 mdl-js-ripple-effect " for="uploadFiles"
									   style="margin-top: 30px; background-color: blueviolet; color:white; text-align: center;
									padding: 10px 0; width: 50%; border-radius: 6px; cursor: pointer;">Choose File</label>
								<input class="file" type="file" name="img" id="uploadFiles" style="display: none"/>
							</div>

							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label .col-12 .col-md-12" style="width: 100%;">
								<input name="name" class="mdl-textfield__input" type="text" id="sample3"  style="width: 100%;">
								<label class="mdl-textfield__label" for="sample3">제목</label>
							</div>


							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label .col-12 .col-md-12"  style="width: 100%;">
								<input name="price" class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4"  style="width: 100%;">
								<label class="mdl-textfield__label" for="sample4">가격</label>
								<span class="mdl-textfield__error">숫자를 입력해야 합니다!</span>
							</div>

							<div style="width: 100%" class="mdl-textfield mdl-js-textfield .col-15 .col-md-15">
								<label style="width: 100%" class="mdl-textfield__label" for="detail">상품 설명란...</label>
								<textarea name="detail" id="detail" class="mdl-textfield__input" type="text" rows= "7" width="100%"></textarea><br />
							</div>
							<div hidden >
								<label>작성자</label>
								<input type="text" class="form-control" name="nickname" value="user2" readonly="readonly"/>
							</div>
							<div hidden>
								<input type="number" class="form-control" name="mnum" value="1"/>
							</div>
							<div hidden >
								<input type="number" class="form-control" name="achieved" value="0"/>
							</div>
<!--
							<div>

								<a href="/product/list" class="col-md-4">
									<input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn " style="background-color: darkgray; color:white;  width:100%;" value="취소" />
								</a>
								<a href="/product/register" class="col-md-4 offset-md-4">
									<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn " style="background-color: blueviolet; color:white; width:100%;">저장</button>
								</a>
							</div>
							-->
							<div  style="margin-left: 1rem">
								<a href="/product/list" class="col-md-6">
									<input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn "
										   style="background-color: darkgray; color:white; width: 100%; margin-top: 3rem;" value="취소" />
								</a>

								<a  class="col-md-6" href="/product/register" >
									<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn "
											style="background-color: blueviolet; color:white; width: 100%;  margin-top: 3rem;">저장</button>
								</a>
							</div>


						</form>

					</div>
				</div>
			</div>
		</section>
		<script>
			//이미지 미리보기
			document.getElementById("uploadFiles").addEventListener("change", function(){
				readURL(this);
			});
			function readURL(input){
				if(input.files && input.files[0]){
					var filename = input.files[0].name;

					var reader = new FileReader();
					reader.readAsDataURL(input.files[0]);

					reader.addEventListener("load", function(e){
						document.getElementById("img").src=e.target.result;
					})
				}
			}

			function check(){
				let form = document.registerForm;
				if(!form.name.value){
					alert("제목을 입력하세요")
					return false;
				}

				if(form.price.value<0|| !form.price.value){
					alert("가격을 입력하세요")
					return false;
				}

				if(!form.detail.value){
					alert("상품 설명란을 입력하세요")
					return false;
				}

				return true
			}


		</script>
		<!--
		 -->
	</th:block>
</th:block>