<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- jquery 
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--
	<div class="d-flex" id="wrapper">
    	<div class="border-end bg-white" id="sidebar-wrapper">
        	<div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
        	<div class="list-group list-group-flush">
            	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/product/list">홈으로</a>
            	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/product/register">글작성</a>
            	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
            	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
            	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
            	<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
        	</div>
    	</div>
-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">POP MARKET</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/">Popular Items</a></li>
                                <li><a class="dropdown-item" href="/">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-0">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">POP Market</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Block chain 중고거래 플랫폼</p>
                </div>
            </div>
        </header>
        <!-- Page content wrapper-->

    	<div id="page-content-wrapper"> 
    	
        	<!-- Top navigation
        	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            	<div class="container-fluid">
                	<button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
                    		<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        		<li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        		<li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        		<li class="nav-item dropdown">
	                            	<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
	                            	<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
	                                	<a class="dropdown-item" href="#!">Action</a>
	                                	<a class="dropdown-item" href="#!">Another action</a>
	                                	<div class="dropdown-divider"></div>
	                                	<a class="dropdown-item" href="#!">Something else here</a>
	                                </div>
                        		</li>
                    		</ul>
                		</div>
            		</div>
        		</nav>
        		<!-- Page content-->
        		<div class="container-fluid">
            		<th:block th:replace = "${content}"></th:block>
        		</div>
        		<!-- 
    		</div>
        		 -->
		</div>
		<!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</th:block>