<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setContent(content)">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>POP Market</title>
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        
         <!-- Modal 사용을 위한 헤더정보	--> 
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<!-- 		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

	
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">POP MARKET</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/product/register}">상품 등록</a></li>
                        <li class="nav-item"><a class="nav-link" href="myPage/tradeConfirm">거래 조회</a></li>
                        <li class="nav-item"><a class="nav-link" href="/product/list">상품 리스트</a></li>
                        <li class="nav-item"><a class="nav-link" href="/wallet/chargeRequest">충전</a></li>
                        <li class="nav-item"><a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/chargeRequestList">충전 승인 대기 목록</a></li>
                    </ul>
                    <form class="d-flex">
                    <a sec:authorize="isAnonymous()"  class="nav-link active" aria-current="page" style="font-weight:bold; color: #222222" onclick="location.href='/member/login'">Login </a>
                    <a sec:authorize="isAuthenticated()" class="nav-link active" aria-current="page" style="font-weight:bold; color: #222222" onclick="location.href='/member/logout'">Logout</a>
					<a sec:authorize="isAuthenticated()" class="nav-link active" aria-current="page" style="font-weight:bold; color: #222222" onclick="location.href='/myPage/mypage'">Mypage</a>
                    
                    <a class="nav-link active" aria-current="page" style="font-weight:bold; color: #222222">MyPage</a>
                   <!-- <a class="nav-link active" aria-current="page" href="/">Logout</a>-->
                    
                    <!--
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                       -->
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-0">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">POP Market</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Past Open Pay later </p>
                </div>
            </div>
        </header>
        
        <!-- *********************************************************************************************************************** -->
        
       </th:block>
        
     
        		<div class="container-fluid">
            		<th:block th:replace = "${content}"></th:block>
        		</div>
        		<!-- 
    		</div>
        		 -->
		</div>
		        <!-- Footer-->
        <footer class="py-5 bg-dark" >
            <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022
            <br>
            <br>the best platform, which Second-hand Market Service!
         <br>NOGOSANDONO 57-1, MAPOGU, SEOUL
            
            </p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</th:block>