<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <th:block th:replace="~{/layout/basic::setContent(~{this::content})}"> -->
	<th:block th:fragment="content">
	
	<h1 class="mt4" align="center">로그인</h1>
	<div th:if="${msg!=null}" th:text="${msg}"></div>
	
	<form th:action="@{/member/login}" th:method="post">
		<div align="center" th:if="${loginError!=null}" th:text="${loginError}"></div>
		<table align="center">
			<tr>
				<td>아이디</td>
				<td><input type="text" name="mid" /></td>  
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><input type="password" name="pw" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="checkbox" name="remember-me" /> 자동 로그인
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="로그인" />
					<input type="button" value="회원가입" onclick="window.location='/member/register'" />
					<input type="button" value="메인" onclick="window.location='/main'" />
				</td>
			</tr>
		</table>
	</form>
	
	
	</th:block>
</th:block>